<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-leaf"></i>
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/shoppin-cart">
          <i class="fas fa-shopping-cart"></i>
          <span *ngIf="cart$ | async as cart" class="badge badge-pill badge-warning">
            {{ cart.totalItemsCount }}
          </span>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" (click)="toggelNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="collapse">
      <ul class="navbar-nav">
        <ng-template #showLogin>
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li *ngIf="user; else showLogin" ngbDropdown class="nav-item">
          <a class="nav-link"  id="dropdownBasic1" ngbDropdownToggle>{{ user.name }}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/my-orders" (click)="toggelNavbar()">My Orders</button>
            <ng-container *ngIf="user.admin">
              <button ngbDropdownItem routerLink="/admin/orders" (click)="toggelNavbar()">Manage Orders</button>
              <button ngbDropdownItem routerLink="/admin/products" (click)="toggelNavbar()">Manage Products</button>
            </ng-container>
            <button ngbDropdownItem (click)="logout()" (click)="toggelNavbar()">Logout</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
