<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Oshop</a>
  <button class="navbar-toggler" type="button" (click)="toggelNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/shoppin-cart">
          Shopping Cart
          <span *ngIf="cart$ | async as cart" class="badge badge-pill badge-warning">
            {{ cart.totalItemsCount }}
          </span>
        </a>
      </li>
      <ng-template #showLogin>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li *ngIf="user; else showLogin" ngbDropdown class="nav-item">
        <a class="nav-link"  id="dropdownBasic1" ngbDropdownToggle>{{ user.name }}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/my-orders">My Orders</button>
          <ng-container *ngIf="user.admin">
            <button ngbDropdownItem routerLink="/admin/orders">Manage Orders</button>
            <button ngbDropdownItem routerLink="/admin/products">Manage Products</button>
          </ng-container>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
